.button {
    border-radius: 10px;
    width: 100px;
    height: 50px;
    font-size: 30px;
}

#restart {
    width:205px;
}

#hit {
    background-color: green;
}

#stand {
    background-color: red;
}
.button:hover:enabled {
    border: 5px solid black;
}

#hit:active:enabled {
    background-color: lightgreen;
}

#stand:active:enabled {
    background-color: lightcoral;
}

#restart:active:enabled {
    background-color: lightslategray    ;
}

#playing-field {
    background-color: greenyellow;
    width: 100px;

}

.cards {
    padding-left: 10px;
}